  /* #faq [section:/ayuda]
  --------------------------------*/
    #help{
      padding: 60px 0;
      #help-list{
        padding: 0;
        list-style: none;
        li {
          border-bottom: 1px solid #ddd;
        }

        a {
          padding: 18px 0;
          display: block;
          position: relative;
          font-size: 22px;
          line-height: 1;
          font-weight: 300;
          padding-right: 20px;
          .collapse {
            color: #1dc8cd;
          }

          .collapsed {
            color: #000;
            i {
              font-size: 24px;
              position: absolute;
              right: 0;
              top: 16px;
              &::before {
                content: "\f2c7" !important;
              }
            }
          }

        }

        p {
          margin-bottom: 20px;
        }

        @media screen and (max-width: $screen-sm) {
          a {
            font-size: 18px;
          }
          i {
            top: 13px;
          }
        }


      }
    }

/* Contact Section [section: /contacto]
--------------------------------*/  
    #contact{
      padding: 60px 0;

      .contact-about{
          h3 {
          font-size: 36px;
          margin: 0 0 10px 0;
          padding: 0;
          line-height: 1;
          font-weight: 300;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: $color-morado;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #888;
        }
      }

      .social-links {
        padding-bottom: 20px;
        a {
            font-size: 18px;
            display: inline-block;
            background: #fff;
            color: $color-morado;
            line-height: 1;
            padding: 8px 0;
            margin-right: 10px;
            border-radius: 50%;
            text-align: center;
            width: 52px;
            height: 52px;
            transition: 0.3s;
          &:hover {
            background: $color-morado;
            color: #fff;
          }
        }
      }


      .info {
        color: #333333;
        i {
          font-size: 32px;
          color: $color-morado;
          float: left;
          line-height: 1;
        }

        p {
          padding: 4px 0 0px 42px;
          margin: 0 0 18px 0;
          font-size: 14px;
        }
      }


      .form{

        #sendmessage {
          color: $color-morado;
          border: 1px solid $color-morado;
          display: none;
          text-align: center;
          padding: 15px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        #sendmessage.show,
        #errormessage.show,
        .show {
          display: block;
        }

        .validation {
          color: red;
          display: none;
          margin: 0 0 20px;
          font-weight: 400;
          font-size: 13px;
        }

        input,
        textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            border: 1px solid #72413f; 
        }

        button[type="submit"] {
          background: linear-gradient(45deg, #F15632, $color-morado);
          border: 0;
          padding: 8px 30px;
          color: #fff;
          &:hover {
            cursor: pointer;
          }
        }

      }
    }

/* ally Section
--------------------------------*/
  #ally {
    padding: 30px 0;
    background: #fff;
    text-align: center;

    img {
      max-width: 100%;
      opacity: 0.5;
      transition: 0.3s;
      padding: 15px 0;

      &:hover {
        opacity: 1;
      }
    }

  }

/* Back to top button
--------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg, #f79134, #f15632);
  color: #fff;
  padding: 10px 20px 8px 20px;
  font-size: 16px;
  right: 15px;
  bottom: 50px;
  transition: none;
  z-index: 1000;
  &:focus {
    background: linear-gradient(45deg, #f79134, #f15632);
    color: #fff;
    outline: none;
  }

  &:hover {
    background: #f15632;
    color: #fff;
  }
}